/** 
  MIXINS
  
  These mixins were originally created for Verbluffend Anders
  You can still use them if you want anything like colored block shadows or
  frames around content.
*/

@mixin block-shadow($color, $position: 'top left', $size: 'medium') {
  position: relative;
  &::after {
    background: $color;
    content: '';
    position: absolute;
    z-index: $z-index-negative;
    @if $position == 'top left' {
      left: -$spacer;
      top: -$spacer;
    }
    @if $position == 'top right' {
      right: -$spacer;
      top: -$spacer;
    }
    @if $position == 'bottom left' {
      bottom: -$spacer;
      left: -$spacer;
    }
    @if $position == 'bottom right' {
      bottom: -$spacer;
      right: -$spacer;
    }
    
    @if $size == 'large' {
      height: calc(100% + #{$spacer} * 3);
      width: 100%;
    }
    @if $size == 'medium' {
      height: 100%;
      width: 100%;
    }
    @if $size == 'small' {
      height: calc(100% - #{$spacer} * 4);
      width: 55%;
    }
  }
}

@mixin frame-sides($color, $position: 'right', $size: -70%) {
  position: relative;
  z-index: 2;
  &::before {
    background: transparent;
    border-left: 4px solid $color;
    border-right: 4px solid $color;
    bottom: -$spacer * 0.5;
    content: '';
    position: absolute;
    top: -$spacer * 0.5;
    z-index: -1;
    @if $position == 'right' {
      left: $size;
      right: $spacer;
    }
    @if $position == 'left' {
      left: $spacer;
      right: $size;
    }
  }
}

@mixin frame-top($color) {
  padding-top: $spacer * 2;
  &::before {
    border-top: 4px solid $color;
  }
}

@mixin frame-bottom($color) {
  &::before {
    border-bottom: 4px solid $color;
  }
}

@mixin full-width-background($position: 'full') {
  position: relative;
  z-index: 0;

  &::after {
    background: inherit;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

    @if $position == 'full' {
      left: calc(50% - 50vw);
      width: 100vw;
    } @else if $position == 'left' {
      left: calc(50% - 50vw);
      width: 50vw;
    } @else if $position == 'right' {
      left: 0;
      width: 50vw;
    } @else {
      left: calc(50% - #{$position});
      width: $position
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

@mixin sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin btn($style) {
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  padding: 0 var(--button-padding-x);
  text-transform: var(--button-text-transform);
  transition: all 0.2s ease-in-out;
  &:hover,
  &:focus,
  &:active,
  &.active {
    text-decoration: none;
  }

  @if $style == 'primary' {
    background-color: var(--button-primary-bg-color);
    border: 1px solid var(--button-primary-border-color);
    color: var(--button-primary-color);
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: var(--button-primary-bg-color-hover);
      border-color: var(--button-primary-border-color-hover);
      color: var(--button-primary-color-hover);
    }
  }

  @if $style == 'secondary' {
    background-color: var(--button-secondary-bg-color);
    border: 1px solid var(--button-secondary-border-color);
    color: var(--button-secondary-color);
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: var(--button-secondary-bg-color-hover);
      border-color: var(--button-secondary-border-color-hover);
      color: var(--button-secondary-color-hover);
    }
  }
}

@mixin ma-image($color) {
  border: $spacer * 0.5 solid #fff;
  margin-right: $spacer * 3;
  margin-top: $spacer * 2;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  // Border
  &::before {
    border: $spacer * 0.25 solid $color;
    height: 100%;
    position: absolute;
    transform: rotate(6deg);
    width: 100%;
  }

  // Panther print
  &::after {
    background: transparent url(img/panter.png) no-repeat scroll center center / contain;
    bottom: -$spacer;
    height: 11.875rem;
    right: -$spacer * 3;
    width: 11.125rem;
    z-index: 3;
  }
}

@mixin image-style($dimension) {
  position: relative;
  
  @if $dimension == 'portrait' {
    padding-top: 150%;
  } @else if $dimension == 'landscape' {
    padding-top: 75%;
  } @else if $dimension == 'square' {
    padding-top: 100%;
  }

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@mixin ma-gallery($color, $position: 'right') {
  position: relative;
  margin-top: $spacer * 2;

  @if $position == 'left' {
    padding-left: $spacer * 5;
    margin-right: $spacer;
  } @else if $position == 'right' {
    margin-left: $spacer;
    margin-right: $spacer * 5;
  }

  .blocks-gallery-grid {
    .blocks-gallery-item {
      &:first-child {
        figure {
          @include ma-image($color);
          z-index: 1;

          @if $position == 'left' {
            margin-right: 0;

            &::before {
              left: -$spacer * 3;
            }

            &::after {
              right: $spacer;
            }
          }
        }

        ~ .blocks-gallery-item {
          overflow: hidden;
          position: absolute;
          top: -$spacer;
          z-index: 0;

          @if $position == 'left' {
            max-height: 100%;
            left: 0;
            width: calc(100% - #{$spacer * 6});
          } @else if $position == 'right' {
            max-height: calc(100% - #{$spacer * 3});
            right: 0;
            width: calc(100% - #{$spacer * 5});
          }
        }
      }
    }
  }
}

@mixin responsive-image($size) {
  padding-top: $size;
  position: relative;

  img {
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}