/**
  This document contains only variables.
  This is the only place where you can and should edit colors, fonts, font-sizes, etc.

  Please note that we use both css variables (--) and scss variables ($). 
  The scss variables can't be changed by the user via the wp-admin, but the css variables can (in the future ;-)).
*/
// Breakpoints
$xs: 0;
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Media queries
$screen-sm-min: $sm;
$screen-md-min: $md;
$screen-lg-min: $lg;
$screen-xl-min: $xl;
$screen-xxl-min: $xxl;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;
$screen-xl-max: $screen-xxl-min - 1;

// Container max width sizes (default = 100%)
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1140px; // Change to 1340px if you want a larger container. Also change $container-custom to true

// Set this to true if you changed the container max widths
$container-custom: false;

// Set this to true if you want a full width layout
$container-fluid: false;

// Spacing
$spacer: 1rem;

// Bootstrap variables
$grid-gutter-width: 30px;
$border-radius: 0;

// Typography
$font-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

// Header
$header-logo-max-width: 240px;

// Z-indexes
$z-index-negative: -1;

$themeColors: (
  "primary": var(--primary),
  "primary-light": var(--primary-light),
  "secondary": var(--secondary),
  "success": var(--success),
  "danger": var(--danger),
  "warning": var(--warning),
  "info": var(--info),
  "light": var(--light),
  "dark": var(--dark),
);

// All css variables are set in comments. If you need one, remove the // in front of the variable.
// By working like this, we only overrule the variables we want to change. 
:root {
  // // Colors
  --primary: #d8c4b2;
  --primary-light: #edebe9;
  --secondary: #e2d3c0;
  --secondary-light: #ece9e4;
  --light: #f5f3ed;
  --dark: #474747;

  // --gray: #6d6e75;
  // --gray-light: #c2c2c2;
  // --gray-dark: #3e3e3e;
  // --success: var(--primary);
  // --danger: var(--secondary);
  // --warning: var(--secondary);
  // --info: var(--primary-light);

  // // Typography
  // --color-body: var(--dark);
  --font-family-body: 'Montserrat', #{$font-fallback};
  --font-weight-body: 500;
  // --letter-spacing-body: auto;
  // --text-transform-body: none;
  --line-height-body: 1.7;

  --color-headings: inherit;
  --font-family-headings: 'Montserrat', #{$font-fallback};
  --font-weight-headings: 700;
  // --letter-spacing-headings: auto;
  --text-transform-headings: uppercase;
  // --line-height-headings: 1.2;

  // --color-link: var(--primary);
  // --color-link-hover: var(--secondary);

  // --font-size-body: 16px;

  // --font-size-h1: 4rem;
  // --font-size-h2: 2.4rem;
  --font-size-h3: 1.75rem;
  // --font-size-h4: 1.25rem;
  // --font-size-h5: 1rem;
  // --font-size-h6: 1rem;

  @media (max-width: $screen-xs-max) {
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
  }

  // // Alerts
  // --alert-border-radius: var(--button-border-radius);

  // // Buttons
  --button-border-radius: #{$spacer * 3};
  --button-font-size: 0.875rem;
  --button-font-weight: 900;
  --button-letter-spacing: 2px;
  --button-line-height: 3.25;
  --button-padding-x: #{$spacer * 1.5};
  // --button-text-transform: uppercase;

  --button-primary-bg-color: var(--primary);
  --button-primary-bg-color-hover: var(--primary-light);
  // --button-primary-border-color: var(--button-primary-bg-color);
  // --button-primary-border-color-hover: var(--button-primary-bg-color-hover); 
  // --button-primary-color: #fff;
  // --button-primary-color-hover: #fff;

  --button-secondary-bg-color: var(--secondary);
  --button-secondary-bg-color-hover: var(--secondary-light);
  // --button-secondary-border-color: var(--button-secondary-bg-color);
  // --button-secondary-border-color-hover: var(--button-secondary-bg-color-hover); 
  // --button-secondary-color: #fff;
  // --button-secondary-color-hover: #fff;

  // // Header
  --header-bg-color: var(--light);
  // --header-link-color: var(--color-body);
  // --header-link-hover-color: var(--primary);
  // --header-link-font-size: 1rem;
  --header-border-bottom: 0;
  // --navbar-toggler-icon-color: var(--header-link-color);
  // --dropdown-border-radius: #{$border-radius};
  // --dropdown-background: var(--light);
  // --dropdown-link-color: var(--header-link-color);
  // --dropdown-link-hover-color: var(--header-link-hover-color);

  // // Footer
  --footer-bg-color: var(--secondary);
  --footer-color: var(--dark);
  --footer-link-color: var(--dark);
  --footer-link-hover-color: var(--primary-light);
  // --footer-border-top: 0;
  // --footer-social-icon-bg: var(--color-body);
  // --footer-social-icon-hover-bg: var(--primary);
  // --footer-social-icon-color: var(--light);
  // --footer-social-icon-hover-color: var(--light);

  // // Content
  // --site-content-padding-bottom: #{$spacer * 3.75};
  --site-content-padding-top: 0;

  // // Pagination
  // --pagination-justify-content: center;
  // --pagination-link-bg: var(--primary);
  // --pagination-link-color: #fff;
  // --pagination-link-bg-hover: var(--primary-light);
  // --pagination-link-color-hover: var(--color-link-hover);
  // --pagination-link-active-bg: var(--secondary);
  --pagination-link-active-color: var(--light);
  // --pagination-dots-bg: transparent;
  // --pagination-dots-color: var(--dark);

  // // Cards
  --card-bg-color: var(--light);
  // --card-header-bg-color: var(--light);
  // --card-footer-bg-color: var(--light);
  // --card-border: 0;
  // --card-border-radius: #{$border-radius};;

  // // Separator line
  // --separator-color: var(--primary);
  // --separator-border-width: 5px;

  // // Input fields
  // --input-background: #fff;
  // --input-border: 1px solid var(--gray-light);
  // --input-border-radius: #{$border-radius};
  // --input-color: --var(gray-dark);
  // --input-font-size: 1rem;
  // --input-font-weight: 400;
  // --input-height: calc(1.5em + .75rem + 2px);
  // --input-line-height: 1.5;
  // --input-padding: .375rem .75rem;

// Hero
--hero-height: 300px;
@media (min-width: $screen-sm-min) {
  --hero-height: 450px;
}
@media (min-width: $screen-lg-min) {
  --hero-height: 600px;
}

  // // WooCommerce
  // --wc-error: #b81c23;
  // --wc-info: var(--primary);
  // --wc-message: #8fae1b;
  // --wc-price: #77a464;
  // --booking-form-max-width: 300px;

  // // LearnDash
  // --ld-primary: var(--primary);
  // --ld-complete: var(--primary);
  // --ld-in-progress: var(--secondary);
}
