.comments-area {
  .comments-title {
    font-size: var(--font-size-h2);
  }

  .comment {
    border-bottom: 1px solid var(--primary-light);
    margin-bottom: $spacer * 1.5;
    
    .avatar {
      border-radius: 50%;
    }

    &-body {
      margin-bottom: 0 !important;
    }

    &-notes {
      color: var(--gray);
      font-style: italic;
    }

    &-form {
      label {
        min-width: 100px;
      }

      &-cookies-consent {
        display: flex;

        input[type="checkbox"] {
          margin-right: $spacer * 0.5;
        }
      }
    }
  }
}