.ld-item-list {
  .ld-item-list-item {
    border-color: var(--light);
    border-radius: $border-radius;

    .ld-item-list-item-preview {
      .ld-status-icon {
        margin-top: 0;
      }
    }
    
    a.ld-item-name {
      color: var(--color-body);
      &:hover {
        color: var(--color-link-hover);
      }
    }
  }
}

.ld-table-list {
  .ld-table-list-header {
    background-color: var(--ld-primary);
  }

  a.ld-table-list-item-preview {
    &:hover {
      color: var(--color-link-hover);
    }
  }
}