.block-contact-small {
  .wp-block-columns {
    .wp-block-column {
      @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
      }
      
      &:first-child {
        .wp-block-columns {
          .wp-block-column {
            p {
              text-align: right;

              @media (max-width: $screen-xs-max) {
                padding-right: $spacer;
              }

              &::after {
                right: -100px;
              }
            }
          }
        }
      }
      
      &:last-child {
        .wp-block-columns {
          .wp-block-column {
            p {
              @media (max-width: $screen-xs-max) {
                padding-left: $spacer;
              }

              &::after {
                left: -100px;
              }
            }
          }
        }
      }

      .wp-block-columns {
        align-items: center;
        margin-bottom: 0;

        .wp-block-column {
          @media (max-width: $screen-xs-max) {
            margin-bottom: 0;

            &[style="flex-basis:33.33%"] {
              flex-basis: 33.33% !important;
            }
            &[style="flex-basis:66.66%"] {
              flex-basis: 66.66% !important;
            }
          }

          figure {
            margin-bottom: 0;
          }

          p {
            background: var(--light);
            margin-bottom: 0;
            padding: $spacer 0;
            position: relative;

            &::after {
              background: var(--light);
              content: '';
              height: 100%;
              position: absolute;
              top: 0;
              width: 45vw;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}