@mixin block-card {
  background: var(--card-bg-color);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  text-align: center;
  padding: $spacer;

  .wp-block-image {
    margin: -#{$spacer} -#{$spacer} $spacer;
  }

  .wp-block-buttons {
    &:last-child {
      margin-top: auto;
    }
  }
}

.block-cards {
  .wp-block-column {
    @include block-card;
  }
}

.block-card {
  @include block-card;
}